/*html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0rem 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
}

    .header .navbar-inner {
        width: auto;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border-radius: 10px;
        background-color: #ff7800;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

.datetime-picker .label2 {
    margin-left: 5rem;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.dropdown-content {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    margin-right: 2rem;
    border-radius: 6px;
    cursor: pointer;
}

.datetime-picker {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.datetime-picker input{
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    border-radius:6px;
    margin-right:2rem;
    margin-left:1rem;
    cursor:pointer;
}

.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 2rem;
}

    .categories .heading {
        text-align: center;
        padding: 2rem 0;
        padding-bottom: 3rem;
        font-size: 3.5rem;
        color: var(--black);
    }

    .categories .box-container .box {
        background: #fff;
        border-radius: .5rem;
        text-align: center;
        padding: 3rem 2rem;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
        margin-bottom: .5rem;
        border: 2px solid black;
    }

        .categories .box-container .box:hover {
            outline: var(--outline-hover);
            outline-offset: 0rem;
        }

        .categories .box-container .box img {
            margin: 1rem 0;
            height: 15rem;
        }

        .categories .box-container .box h3 {
            font-size: 2rem;
            color: var(--black);
            line-height: 1.2;
        }

        .categories .box-container .box h6 {
            font-size: 1.5rem;
            color: var(--orange);
            line-height: 1.8;
        }

        .categories .box-container .box p {
            font-size: 1.5rem;
            color: var(--black);
            line-height: 0;
            padding: 0.3rem 0;
        }